@model Guest

<div class="guest-row">
    <div class="form-group">
       @Html.LabelFor(g => g.Name)
       <input asp-for="@Model.Name" id="Guests_(@Model.Index)__Name" name="Guests[@Model.Index].Name" type="text"/>
    </div>
    <div class="form-group">
       @Html.LabelFor(g => g.OrderBeef)
       <input id="Guests_(@Model.Index)__OrderBeef" name="Guests[@Model.Index].OrderBeef" type="checkbox" value="true">
    </div>
    <div class="form-group">
        @Html.LabelFor(g => g.OrderChicken)
        <input id="Guests_(@Model.Index)__OrderChicken" name="Guests[@Model.Index].OrderChicken" type="checkbox" value="true">
    </div>
    <div class="form-group">
        @Html.LabelFor(g => g.OrderFish)
        <input id="Guests_(@Model.Index)__OrderFish" name="Guests[@Model.Index].OrderFish" type="checkbox" value="true">
    </div>
</div>

